<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()) {
    title = __('archive_a');
    if (is_month()) {
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()) {
      title += ': ' + page.year;
    }
  } else if (is_category()) {
    title = __('categories.ejs') + ': ' + page.categories;
  } else if (is_tag()) {
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <% if (page.keywords){ %>
  <meta name="keywords" content="<%= page.keywords %>,<%= config.keywords %>">
  <% } else if (config.keywords){ %>
  <meta name="keywords" content="<%= config.keywords %>">
  <% } %>
  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>
    <% if (title){ %><%= title %> |
    <% } %>
    <%= config.title %></title>
  <% if (theme.favicon){ %>
  <link rel="shortcut icon" href="<%- theme.favicon %>">
  <% } %>
  <%- css('css/style') %>
  <% if (theme.fancybox){ %>
  <%- css('fancybox/jquery.fancybox.min') %>
  <% } %>
  <!-- 图片查看器库类 -->
  <%- css('css/viewer.min.css') %>

  <link rel="preload" href="/images/ocean/ocean.mp4" as="video" type="video/mp4">
  <link rel="preload" href="/images/ocean/ocean.ogv" as="video" type="video/ogg">
  <link rel="preload" href="/images/ocean/ocean.webm" as="video" type="video/webm">
  <!-- 引入图片查看器库类 -->
  <%- js('/js/viewer.min.js') %>

  <%- js('/js/pace.min.js') %>
</head>